<header class="bg-green-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-bold">SAFE TRAVEL</h1>
      <nav>
        <ul class="flex space-x-4">
          <li class="mt-2.5"><a href="/home" class="hover:underline">Home</a></li>
          <li class="mt-2.5"><a href="#" class="hover:underline">Destinos</a></li>
          <li class="mt-2.5"><a href="/review" class="hover:underline">Reseñas</a></li>
          <li class="hover:underline"><app-user-menu ></app-user-menu></li>
        </ul>
      </nav>
    </div>
  </header>