<div class="bg-white rounded-lg shadow-xl p-6 max-w-md w-full mx-auto">
  <h2 class="text-2xl font-bold text-green-800 mb-4">
    {{ modoEdicion ? "Editar Usuario" : "Crear Usuario" }}
  </h2>
  <form [formGroup]="formularioUsuario" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label
        for="name"
        class="block text-sm font-medium text-gray-700 mb-1"
        >Nombre </label
      >
      <input
        type="text"
        id="name"
        formControlName="name"
        class="w-full p-2 border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500"
      />
    </div>
    <div class="mb-4">
      <label for="username" class="block text-sm font-medium text-gray-700 mb-1"
        >Correo Electrónico</label
      >
      <input
        type="email"
        id="username"
        formControlName="username"
        class="w-full p-2 border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500"
      />
    </div>
    <div class="mb-4">
      <label
        for="password"
        class="block text-sm font-medium text-gray-700 mb-1"
        >password</label
      >
      <input
        type="password"
        id="password"
        formControlName="password"
        class="w-full p-2 border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500"
      />
    </div>
    <div class="mb-4">
      <label for="role" class="block text-sm font-medium text-gray-700 mb-1"
        >Rol</label
      >
      <select
        id="role"
        formControlName="role"
        class="w-full p-2 border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500"
      >
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
      </select>
    </div>
    <div class="flex justify-end space-x-2">
      <button
        type="button"
        (click)="onCancelar()"
        class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
      >
        Cancelar
      </button>
      @if (modoEdicion) {
      <button
        type="submit"
        (click)="updateuser()"
        class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
      >
        Actualizar
      </button>
      }@else {
      <button
        type="submit"
        (click)="registeruser()"
        class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
      >
        Crear
      </button>

      }
    </div>
  </form>
</div>
