<div class="bg-white rounded-lg shadow-xl p-6 max-w-md w-full mx-auto">
    <h2 class="text-2xl font-bold text-green-800 mb-4">{{ modoEdicion ? 'Editar Foto' : 'Crear Foto' }}</h2>
    <form [formGroup]="formularioLocation" (ngSubmit)="onSubmit()">
      
      <div class="mb-4">
        <label for="user" class="block text-sm font-medium text-gray-700 mb-1"
          >Id Usuario</label
        >
        <select
          id="user"
          formControlName="user"
          class="w-full p-2 border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500"
        >
        @for (item of users; track $index) {
          <option value="{{item.id}}">{{item.name}}</option>

        }
         
        </select>
      </div>
      <div class="mb-4">
        <label for="location" class="block text-sm font-medium text-gray-700 mb-1"
          >Id localizacion</label
        >
        <select
          id="location"
          formControlName="location"
          class="w-full p-2 border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500"
        >
        @for (item of locations; track $index) {
          <option value="{{item.id}}">{{item.name}}</option>

        }
         
        </select>
      </div>
      <div class="mb-4">
        <label for="file" class="block text-sm font-medium text-gray-700 mb-1">Imagen</label>
        <input type="file" (change)="onFileSelected($event)" id="file" formControlName="file" 
               class="w-full p-2 border border-gray-300 rounded-md focus:ring-green-500 focus:border-green-500">
      </div>
      <div class="flex justify-end space-x-2">
        <button type="button" (click)="onCancelar()" 
                class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Cancelar
        </button>
        @if (modoEdicion) {
          <button
            type="submit"
            (click)="upodatephoto()"
            class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          >
            Actualizar
          </button>
          }@else {
          <button
            type="submit"
            (click)="addPhoto()"
            class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
          >
            Crear
          </button>
    
          }
      </div>
    </form>
  </div>