@if (!selectedDestination) {
<div class="bg-gray-100 min-h-screen">
  <main class="py-8 container mx-auto p-4">
    <div class="container mx-auto p-4 bg-white">
      <div
        *ngIf="!selectedDestination"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4"
      >
        <div
          *ngFor="let destination of destinations"
          class="bg-white shadow-lg rounded-lg overflow-hidden"
        >
          <img
            [src]="destination.photoUrl"
            [alt]="destination.location.name"
            class="w-full h-48 object-cover"
          />
          <div class="p-4">
            <h2 class="text-xl font-bold mb-2">
              {{ destination.location.name }}
            </h2>
            <a
              (click)="navegarlocation(destination.id)"
              class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition duration-300"
            >
              Ver detalles
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
} 



@if (selectedDestination) {
<div class="bg-gray-100 min-h-screen">
  <app-header></app-header>
  <main class="py-8 container mx-auto p-4">
    <div class="container mx-auto p-4 bg-white">
      <div
        *ngIf="selectedDestination"
        class="bg-white shadow-lg rounded-lg overflow-hidden"
      >
        <img
          [src]="selectedDestination.photoUrl"
          [alt]="selectedDestination.location.name"
          class="w-full h-64 object-cover"
        />
        <div class="p-4">
          <h1 class="text-3xl font-bold mb-4">
            {{ selectedDestination.location.name }}
          </h1>
          <p class="text-gray-600 mb-4">
            {{ selectedDestination.description }}
          </p>
          <a
            [routerLink]="['/rate-destination', selectedDestination.id]"
            class="bg-green-600 text-white px-2 py-2 rounded hover:bg-green-700 transition duration-300 ml-2"
          >
            Calificar y opinar
          </a>
          <a
            routerLink="/"
            class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700 transition duration-300 ml-2"
          >
            Volver a la lista
          </a>
        </div>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>

}
