<div class="bg-white rounded-lg shadow-xl p-6 max-w-md w-full mx-auto">
  <h2 class="text-2xl font-bold text-green-800 mb-4">{{ modoEdicion ? 'Editar Localizacion' : 'Crear Localizacion' }}</h2>
  <form [formGroup]="formularioLocation" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="name" class="block text-sm font-medium text-gray-700 mb-1">Nombre</label>
      <input type="text" id="name" formControlName="name" 
             class="w-full p-2 border rounded-md focus:ring-green-500 focus:border-green-500"
             [class.border-red-500]="formularioLocation.get('name')?.invalid && formularioLocation.get('name')?.touched"
             [class.border-gray-300]="!formularioLocation.get('name')?.invalid || !formularioLocation.get('name')?.touched">
      @if (formularioLocation.get('name')?.invalid && formularioLocation.get('name')?.touched) {
        <p class="mt-1 text-xs text-red-500">El nombre es requerido</p>
      }
    </div>
    <div class="mb-4">
      <label for="city" class="block text-sm font-medium text-gray-700 mb-1">Ciudad</label>
      <input type="text" id="city" formControlName="city" 
             class="w-full p-2 border rounded-md focus:ring-green-500 focus:border-green-500"
             [class.border-red-500]="formularioLocation.get('city')?.invalid && formularioLocation.get('city')?.touched"
             [class.border-gray-300]="!formularioLocation.get('city')?.invalid || !formularioLocation.get('city')?.touched">
      @if (formularioLocation.get('city')?.invalid && formularioLocation.get('city')?.touched) {
        <p class="mt-1 text-xs text-red-500">La ciudad es requerida</p>
      }
    </div>
    <div class="mb-4">
      <label for="country" class="block text-sm font-medium text-gray-700 mb-1">Pais</label>
      <input type="text" id="country" formControlName="country" 
             class="w-full p-2 border rounded-md focus:ring-green-500 focus:border-green-500"
             [class.border-red-500]="formularioLocation.get('country')?.invalid && formularioLocation.get('country')?.touched"
             [class.border-gray-300]="!formularioLocation.get('country')?.invalid || !formularioLocation.get('country')?.touched">
      @if (formularioLocation.get('country')?.invalid && formularioLocation.get('country')?.touched) {
        <p class="mt-1 text-xs text-red-500">El país es requerido</p>
      }
    </div>
    <div class="mb-4">
      <label for="description" class="block text-sm font-medium text-gray-700 mb-1">Descripcion</label>
      <input type="text" id="description" formControlName="description" 
             class="w-full p-2 border rounded-md focus:ring-green-500 focus:border-green-500"
             [class.border-red-500]="formularioLocation.get('description')?.invalid && formularioLocation.get('description')?.touched"
             [class.border-gray-300]="!formularioLocation.get('description')?.invalid || !formularioLocation.get('description')?.touched">
      @if (formularioLocation.get('description')?.invalid && formularioLocation.get('description')?.touched) {
        <p class="mt-1 text-xs text-red-500">La descripción es requerida</p>
      }
    </div>
    <div class="mb-4">
      <label for="address" class="block text-sm font-medium text-gray-700 mb-1">Direccion</label>
      <input type="text" id="address" formControlName="address" 
             class="w-full p-2 border rounded-md focus:ring-green-500 focus:border-green-500"
             [class.border-red-500]="formularioLocation.get('address')?.invalid && formularioLocation.get('address')?.touched"
             [class.border-gray-300]="!formularioLocation.get('address')?.invalid || !formularioLocation.get('address')?.touched">
      @if (formularioLocation.get('address')?.invalid && formularioLocation.get('address')?.touched) {
        <p class="mt-1 text-xs text-red-500">La dirección es requerida</p>
      }
    </div>
  
    <div class="flex justify-end space-x-2">
      <button type="button" (click)="onCancelar()" 
              class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-100 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        Cancelar
      </button>
      @if (modoEdicion) {
        <button
          type="submit"
          (click)="upodateLocation()"
          class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        >
          Actualizar
        </button>
      } @else {
        <button
          type="submit"
          (click)="addLocation()"
          class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
        >
          Crear
        </button>
      }
    </div>
  </form>
</div>